---
import Formulario from '../components/Formulario';
import HeaderTickets from '../components/HeaderTickets.astro';
import Layout from '../layout/Layout.astro';
import { nameInput } from '../context/formData';
---

<Layout title='Invitación'>
  <HeaderTickets/>
  <div class="contenido">
    <Formulario client:visible/>
    <!-- <Formulario label={'ROYAL BLOOD'} placeholder={'Texto'}  client:visible/> -->
  </div>
</Layout>

<style>
  .contenido{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }  
@media (max-width: 600px) {
  .contenido {
    font-size: 18px;
  }
}

</style>