---
import HeaderLocation from '../components/HeaderLocation.astro';
import Layout from '../layout/Layout.astro';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title='Invitación'>
  <HeaderLocation/>
  <div class="contenido">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.0128704259723!2d-99.02544932477045!3d19.58394928172802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f3e160f68245%3A0xc507261cbe0c34e7!2sCentro%20Las%20Am%C3%A9ricas!5e0!3m2!1ses-419!2smx!4v1698817621623!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>

<style>
  .contenido{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }
  .esposo{
    color: var(--primary);
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(35,44,51,0.25);
  }
  .esposa{
    color: var(--secondary);
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(35,44,51,0.25);
  }
  .cuerpo{
    text-align: justify;
  }
  .azul{
    font-weight: bold;
    color: var(--primary);
  }
  .rojo{
    font-weight: bold;
    color: var(--secondary);
  }
  @media (max-width: 600px) {
  .contenido {
    font-size: 18px;
  }
}

</style>