---
import HeaderLocation from '../components/HeaderLocation.astro';
import Layout from '../layout/Layout.astro';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title='Invitación'>
  <HeaderLocation/>
  <div class="contenido">
    <div class="text-[#3772FF] font-black text-[30px]">Ubicaciones</div>
    <div class="font-bold">Iglesia - "Nuestra Señora de la Luz"</div>
    <div class="text-start">¡Celebremos juntos la ceremonia! La iglesia "Nuestra Señora de la Luz" será el escenario de la emotiva misa con motivo del 25 aniversario de matrimonio de Jesús Renato Díaz Velázquez y Alma Delia Maldonado Sanguines.    </div>
    <a href="https://maps.app.goo.gl/Qcj9DYXY8mqc3Cgj7" target="_blank">
      Abrir en google maps
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="40" height="40" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
      </svg> 
    </a>
    <div class="my-5"></div>
    <div class="font-bold">Salón de Celebración</div>
    <div class="text-start">Después de la ceremonia, nos trasladaremos al salón de celebración para continuar con la alegría y la camaradería. ¡Esperamos que te unas a nosotros para seguir celebrando este día tan especial!</div>
    <a href="https://maps.app.goo.gl/J8PWWobwUiyVEmaHA" target="_blank">
      Abrir en google maps
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="40" height="40" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
      </svg> 
    </a>
  </div>
</Layout>

<style>
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .contenido{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }
  .esposo{
    color: var(--primary);
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(35,44,51,0.25);
  }
  .esposa{
    color: var(--secondary);
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(35,44,51,0.25);
  }
  .cuerpo{
    text-align: justify;
  }
  .azul{
    font-weight: bold;
    color: var(--primary);
  }
  .rojo{
    font-weight: bold;
    color: var(--secondary);
  }
  @media (max-width: 600px) {
  .contenido {
    font-size: 18px;
  }
}

</style>