<div class="contenido">
  <a class="boton sm:m-0" href="/" data-astro-reload>        
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="40" height="40" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
      <path d="M16 3l0 4"></path>
      <path d="M8 3l0 4"></path>
      <path d="M4 11l16 0"></path>
      <path d="M8 15h2v2h-2z"></path>
    </svg>
  </a>
  <div class="header-main"> 
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ticket" width="40" height="40" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M15 5l0 2"></path>
        <path d="M15 11l0 2"></path>
        <path d="M15 17l0 2"></path>
        <path d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"></path>
      </svg>         
      Boletos   
  </div>
  <a class="boton" href="/ubicacion">     
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="40" height="40" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
      <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
    </svg>  
  </a>
</div>

<style>  
  .contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;  
    font-size: 40px;
    font-weight: 900;
    background-color: var(--primary);
    color: var(--text-color);
    height: 100px;    
    width: 500px;
    border-radius: 20px;
  }
  .boton {        
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 20px;
    background-color: var(--secondary);
  }
  @media (max-width: 600px) {
  .contenido{
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header-main{
    gap: 2px;
    font-size: 24px;
    height: 50px;
    width: 260px;
    border-radius: 10px;
  }
  .boton{
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
</style>