---
import BaseHead from '../components/BaseHead.astro';
  interface Props {
    title: string;
  }
  const {title} = Astro.props; 
---

<!DOCTYPE html>
<html lang="es">
<BaseHead title="Invitación" description="Detalles para las bodas de plata de Alma y Renato, !no olvides descargar tu boleto¡"/>
<body class="max-w-2xl mx-auto">    
  <slot/> 
</body>
</html>

<style is:global>
  :root{
    --primary: #3772FF;
    --secondary: #FF5A5F;
    --bg-color: #EDF7F6;
    --text-color: #232C33;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;           
  },
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;           
  },
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;           
  },
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.ttf') format('ttf');
    font-weight: 900;           
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: #EDF7F6;
    color: #232C33;
  }
  @media (max-width: 600px) {
    body {
      padding: 10px;
    }
  }
</style>